.blog-item-card-footer a {
  display: flex;
  align-items: center;
}

.blog-item-card-footer .icon {
  border: 1px solid;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  transition: 0.1s linear;
}

.blog-item-card-footer:hover * {
  color: var(--dark-gray);
}

.blog-item-card-footer:hover .icon {
  transform: rotateZ(90deg);
}
