.nav-item {
  position: relative;
  color: var(--blue-darker);
}

.nav-item a {
  color: inherit;
}

.nav-item > svg {
  fill: transparent;
  transform: translateX(-1.5em);
  transition: 0.3s ease;
}

/* active case and hover  */
.nav-item.active,
.nav-item:hover {
  color: var(--yellow);
}

.nav-item.active > svg,
.nav-item:hover > svg {
  fill: var(--yellow);
  transform: translateX(-0.75em);
}

/* drop down wrapper  */
.nav-item .drop-down-wrapper {
  position: absolute;
  bottom: -6em;
  border-radius: 1em;
  min-width: 200px;
  box-shadow: -2px -2px 5px 0.1px rgba(125, 125, 125, 0.2);
  opacity: 0;
  transform: translateY(3em);
  transition: 0.3s ease;
}

.nav-item .drop-down-wrapper li {
  height: fit-content;
}

.nav-item:hover .drop-down-wrapper {
  opacity: 1;
  transform: translateY(0);
  /* transition: 0.01s ease; */
}
