.custom-button svg {
  fill: #fff;
}

.custom-button .arrow-left,
.custom-button .arrow-right {
  overflow: hidden;
  transition: 0.1s linear;
}

.custom-button .arrow-left {
  max-width: 0px;
}

.custom-button:hover .arrow-left {
  max-width: 20px;
}

.custom-button:hover .arrow-right {
  max-width: 0px;
}
