.search-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -2;
}

.search-input.show-form {
  z-index: 0;
}

.search-form {
  background: #fff;
  box-shadow: 2px 2px 20px 3px rgba(77, 77, 77, 0.3);
  opacity: 0;
  transition: 0.2s linear;
}

.search-form.show-form {
  opacity: 1;
}

.search-form input:focus,
.search-form input:active {
  border: none;
  outline: none;
}

/* trigger  */

.close-search-trigger {
  background: var(--yellow);
  color: #fff;
  height: 40px;
  width: 40px;
}
