.custom-input {
  display: block;
  font-weight: bold;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
}

.custom-input:active,
.custom-input:focus {
  outline: none;
}

.custom-input::placeholder {
  color: #fff;
  font-weight: bold;
}
