header {
  position: relative;
}

header ul {
  list-style-type: none;
  height: 100%;
  padding: 0;
}

header li {
  height: 100%;
}

header a {
  text-decoration: none;
}

header > nav > ul > li > ul > li {
  padding: 0 1em;
}

/* ==> side bar  */
header .sidebar {
  position: absolute;
  top: 100%;
  background: #fff;
  overflow: hidden;
}

.sidebar nav {
  max-height: 0px;
}

.sidebar nav.show {
  max-height: 100vh;
  transition: 1s ease;
  cursor: pointer;
}

/* ==> sidebar items  */
.sidebar > nav > ul > li > a,
.sidebar > nav > ul > li > article {
  display: block;
  border-top: 1px solid var(--light-gray);
  width: 100%;
  padding: 0.5em 0;
}

.sidebar .sidebar-item-title:hover {
  color: var(--yellow) !important;
}

.sidebar .sidebar-submenu {
  max-height: 0px;
  overflow: hidden;
  transition: 0.2s linear;
}

.sidebar article.show .sidebar-submenu {
  max-height: 200px;
  transition: 0.5s linear;
}

.sidebar article.show .icon {
  transform: rotateZ(90deg);
}
