#home-carousel .carousel-indicators > button {
  position: relative;
  background: none;
  text-indent: initial;
}

#home-carousel .carousel-indicators > button::before {
  content: ".";
  position: absolute;
  top: -0.5em;
  font-size: 2.5em;
}

/* home carousel control  */
#home-carousel .custom-control-icon {
  font-family: "icomoon";
  color: var(--dark-gray);
  font-weight: bolder;
  font-size: 1.5em;
}

#home-carousel .custom-control-icon:hover {
  color: var(--yellow);
}

/* home carousel article  */
#home-carousel .carousel-item article {
  min-height: 300px;
}
