/* ==> footer 1 */
/* .location  */
.footer1 article:nth-child(1) {
  margin-bottom: 30px;
}

/* .site-map */
.site-map > div > * {
  display: block;
  text-align: center;
  flex: 1 0;
}

.site-map span {
  padding: 5px 0px;
}

/* ==> footer 2  */
.footer2 a {
  text-decoration: none;
  font-size: 1.3em;
  font-weight: lighter;
  color: inherit;
}

.footer2 .social-network div span {
  border: 1px solid var(--yellow);
  border-radius: 50%;
  padding: 15px;
  margin: 0 10px;
}

.footer2 .social-network div span:hover {
  background: var(--yellow);
}
