.sub-nav-item {
  color: var(--blue-darker);
  background: #fff;
}

.sub-nav-item.active {
  color: var(--yellow);
}

.sub-nav-item svg {
  fill: var(--yellow);
  max-width: 0px;
  transition: 0.5s ease;
  margin-right: 1em;
}

.sub-nav-item.active svg {
  max-width: 20px;
}

/* hover  */
.sub-nav-item.active:hover svg,
.sub-nav-item:hover svg {
  max-width: 20px;
  transition: 0.3s ease;
}
