@font-face {
  font-family: "icomoon";
  src: local("icomoon"), url("./fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
}

:root {
  --font-family: "Ubuntu", sans-serif;
  --font-weight: 500px;
  --yellow: #fed338;
  --blue: #007cba;
  --blue-light: #396a8c;
  --blue-lighter: #f2f6fe;
  --blue-dark: #006ba1;
  --blue-darker: #005a87;
  --dark-gray: #666a80;
  --light-gray: #cfd3e5;
  --pink: #eb00a0;
  --light-pink: #ffc9f9;
}

* {
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background: var(--yellow);
  color: #fff;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  color: var(--dark-gray);
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

body #root {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page {
  flex: 1 0;
}

/* ==> alert style  */
#custom_loading {
  position: fixed;
  top: calc(100vh / 2);
  left: calc(100vw / 2);
  border: 5px solid #000;
  border-left: 5px solid #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  animation: custom_loading 1s linear infinite;
}

@keyframes custom_loading {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

#custom_notification {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  max-width: 100vw;
  animation: custom_notifiation 0.3s ease forwards;
}

@keyframes custom_notifiation {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0);
  }
}
